{% extends "base.html" %} {% block content %}

<div class="container" style="margin-top: 120px;">
    <div class="row">
        <div class="main d-lg-flex d-md-flex" style="justify-content: center; align-items: center">
            <div class="title">
                <h2 class="text-sm-start">Find Out Images By Matching Them</h2>
                <p class="">First Input One Image, Then Input Maximum of Four Images and Find Out the Matched Ones...</p>
            </div>
            <div class="upload_image_card card p-4 col-lg-7 ms-5 col-md-8 col-sm-12">
                {% if message %}
                <div class="alert alert-dismissible fade show" style="background-color: #d5f0c1" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <h2>Upload Images</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="form-label">Select Single Image</label>
                    <input type="file" name="user_image" id="user_image" class="form-control" accept="image" required>
                    <br>
                    <label class="form-label">Select Multiple Images To Find Out Matched Ones - (Upto 4 images)</label>
                    <input type="file" name="other_images" id="other_images" class="form-control" accept="image/*"
                        multiple required onchange="countImages()">
                    <br>
                    <div class="d-flex" style="justify-content: right;">
                        <button type="submit" class="btn btn-secondary">Let's Find Out <i class="fa-thin fa-magnifying-glass"></i></button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function countImages() {
        let other_images = document.getElementById('other_images');
        let max_images = 4;

        if (other_images.files.length > max_images) {
            alert(`Please Select upto ${max_images} images.`);
            other_images.value = '';
        }
    }
</script>

{% endblock content %}